# Local (docker-compose):
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/hackaton

# Railway (reemplazar PASSWORD):
DATABASE_URL=postgresql+asyncpg://postgres:PASSWORD@shortline.proxy.rlwy.net:32375/railway
